.Homepage{
    padding: 20px;
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    gap: 10px;
    padding: 16px 0;
}
.videocatagory{
    font-size: 18px;
    color: #BF94FF;
    font-family: monospace;
    font-weight: 600;
}
